/*==================================================== Reset=============================== */
body, h1 , h3, p, ul {
padding: 0;
margin: 0;
}
/*=====================================================ENDRESET=============================*/

/*=====================================================startbody=============================*/
body {
  font-family: Georgia, serif;
  color: #252525;
}

* {
  box-sizing: border-box;
}
/*======================================================endbody===============================*/

/*=======================================================startmenu=============================*/
.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo {
  display:block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}
.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125em;
}

@media only screen and (max-width:739px) {
  .menu {
    text-align: center;
  }
  a.menu-logo {
    float: none;
    margin: 0 auto;
  }
  .menu-nav {
    float: none;
    clear: both;
  }
}
/*=================================================endmenu===========================================*/

/*=================================================startintro=========================================*/
.intro {
  background: url('../assets/img/wines.png') no-repeat center center;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  color: #ffffff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #ffffff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

@media only screen and (max-width:739px) {
  .intro {
    padding: 60px 0;
  }
}
/*=====================================================startabout=======================================*/
.about {
  padding: 60px 0;
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

.about-container::after, .about-container::before {
  content: '';
  display: table;
  clear: both;
}

.about h2{
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 60px;
}

.about-item {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.about-item img {
  display: block;
  max-width: 100%;
}

.about-item h3 {
  font-size: 2.25em;
  line-height: 1em;
  background: #252525;
  width: 220px;
  color: #ffffff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding: 5px 0 10px 0;
  top: -25px;
  position: relative;
}

.about > p {
  font-size: 1.125em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
  max-width: 460px;
}

@media only screen and (min-width:740px) and (max-width: 980px) {
  .about-container {
    max-width: 720px;
  } 
  .about-item {
    width: 340px;
  }
}

@media(max-width: 739px) {
  .about-container {
    max-width: 300px;
  }
  .about-item {
    width: 300px;
    margin: 0 auto;
  }
}

/*====================================================endabout==============================================*/

/*====================================================startproducts===========================================*/
.products {
  background: #e7e4d8;
  padding: 60px 0;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;

}

.products-container {
  max-width: 960px;
  margin: 0 auto;
}

.products-container::before, .products-container::after {
  content: '';
  display: table;
  clear: both;
}

.products-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.products-item h2 {
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.products-item h2::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #e7e4d8;
  box-shadow: 0 0 0 10px currentColor;
}

h2.products-gaucho::before {
  color: #6e0219;
}

h2.products-santa::before {
  color: #730945;
}

h2.products-bahia::before {
  color: #9c4003;
}

.products-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.products-btn {
  width: 180px;
  border: 3px solid;
  color: #252525;
  text-decoration: none;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  margin:20px auto 0 auto;
}

@media only screen and (min-width:740px) and (max-width: 980px) {
  .products-container {
    max-width: 720px;
  } 
  .products-item {
    width: 220px;
  }
}

@media(max-width: 739px) {
  .products-container {
    max-width: 300px;
  }
  .products-item {
    
    margin: 0 auto 20 auto;
  }
}
/*=======================================================endProducts====================================================*/

/*=======================================================startlocations=================================================*/
.locations {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;

}

.item-locations {
  clear: both;
  margin: 60px auto;
}

.item-locations::after, .item-locations::before {
  display: table;
  content: '';
  clear: both;
}

.item-locations img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.item-locations > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.item-locations h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.item-locations p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.item-locations a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}

@media only screen and (min-width:740px) and (max-width: 980px) {
   .locations {
    max-width: 720px;
   }
   .item-locations > div, .item-locations img  {
    width: 340px;
   }
}

@media(max-width: 739px) {
    .locations {
      max-width: 300px;
    }
    .item-locations > div, .item-locations img {
      width: 300px;
      margin: 0px;
    }
}
/*=========================================================endlocation=======================================================================*/

/*=========================================================startofsign=======================================================================*/
.sign {
  background: #e7e4d8;
  padding: 30px 0;
}

.sign-container {
  max-width: 960px;
  margin: 0 auto;
}
.sign-container::after, .sign-container::before {
  content: '';
  display: table;
  clear: both;
}

.sign-information {
  width: 460px;
  margin: 0 10px;
  float: left;
}

.sign-information h2 {
  font-size: 2.25em;
}

.sign-information p {
  font-size: 1.5em;
  font-style: italic;
}

.sign form {
    width: 460px;
    margin: 40px 10px 0 10px;
    float: left;
}

.sign form label {
  display: none;
}

.sign input {
  width: 320px;
  border: 3px solid #252525;
  background: none;
  font-size: 1.5em;
  font-style: italic;
  font-family: Georgia, serif;
  padding: 10px;
  float: left;
}

.sign button {
  background: #252525;
  border: none;
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 140px;
  padding: 13px 0;
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (min-width:740px) and (max-width: 980px) {
 .sign-container {
  max-width: 720px;
 }
 .sign-information, .sign form,  .sign input  {
  width: 340px;
 }
}

@media(max-width: 739px) {
  .sign-container {
    max-width: 300px;
  }
  .sign-information, .sign form,  .sign input  {
    width: 300px;
    margin: 10px 0 0 0 ;
   }
}
/*===============================================================endsign==============================================================================*/

/*===============================================================startfooter===========================================================================*/
.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
}

.footer-container::after, .footer-container::before {
  content: '';
  display: table;
  clear: both;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  list-style: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media(max-width: 739px) {
     .footer-container {
      max-width: 300px;

     }
     .footer p {
      float: none;
      margin: 0px;
     }
     .footer img {
      float: none;
      margin: 10px 0;
     }
}
